[*.cs]

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = all:suggestion

# IDE0066: Convert switch statement to expression
csharp_style_prefer_switch_expression = false:suggestion
